@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
  line-height: 1;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  /* --COLORS-- */
  /* usage: i.e., bg-primary */
  /* Core colors */
  --color-background: #ffffff;
  --color-surface: #f2f2f5;
  --color-muted: #697582;
  --color-foreground: #121417;
  --color-border: #e5e8eb;
  --color-hover: #f0f0f0;

  /* Action Colors */
  --color-accent: #3fbebb;
  /* Status Colors */
  --color-success: #1f7d3d;
  /* Secondary Colors */
  --color-primary: #771ee0;
  --color-secondary: #9705d3;

  /* Destructive / Error Colors */
  --color-destructive: #ff1231;

  /* --FONTS-- */
  /* --FONT SIZE-- */
  --text-2xl: clamp(2rem, 3vw, 3rem);
  --text-xl: clamp(1.5rem, 3vw, 2rem);
  --text-base: clamp(1rem, 2vw, 1.5rem);
  --text-sm: clamp(0.75rem, 1.5vw, 1rem);
  --text-xs: clamp(0.5rem, 1vw, 0.75rem);
  --text-nano: 0.5rem;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 25px 50px rgba(0, 0, 0, 0.25);

  /* FONT WEIGHT (Font-*) */
  /* usage: i.e., font-medium */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* --SPACING and GAPS SYSTEM-- */
  /* usage: i.e., p-y-5, space-y-2, p-5, mb-5 */
  --spacing-1: clamp(0.2rem, 0.5vw, 0.25rem); /* xs */
  --spacing-2: clamp(0.3rem, 1vw, 0.5rem); /* sm */
  --spacing-3: clamp(0.4rem, 1.2vw, 0.625rem);
  --spacing-4: clamp(0.5rem, 1.5vw, 0.75rem); /* md */
  --spacing-5: clamp(0.75rem, 2vw, 1rem); /* lg */
  --spacing-6: clamp(1rem, 3vw, 1.25rem); /* xl */
  --spacing-7: clamp(1.25rem, 3.5vw, 1.5rem); /* 2xl */
  --spacing-8: clamp(1.5rem, 4vw, 2rem); /* 3xl */
  --spacing-9: clamp(2rem, 5vw, 2.5rem); /* 4xl */
  --spacing-10: clamp(1rem, 4vw, 8rem);

  /* --BORDER RADIUS SYSTEM-- */
  /* usage: i.e., rounded-1,2,3 */
  --radius-button: 0.4rem;
  --radius-1: 0.5rem; /* Small */
  --radius-2: 0.75rem; /* Medium */
  --radius-3: 1rem; /* Large */
  --radius-full: 50%; /* Circular-looking */

  /* FONT FAMILY */
  /* usage: i.e., font-sans */
  --font-sans: 'Roboto', sans-serif; /* main text */
  --font-logo: 'Pacifico', cursive; /* logo or headings */
}

/* Dark mode overrides */
.dark {
  /* Core colors */
  --color-background: #121417;
  --color-surface: #1e1e21;
  --color-muted: #9ca3af;
  --color-foreground: #f3f4f6;
  --color-border: #2c2f33;
  --color-hover: #2c2c2f;

  /* Action Colors */
  --color-accent: #22d3ee;
  /* Status Colors */
  --color-success: #d1fae5;
  /* Secondary Colors */
  --color-primary: #c084fc;
  --color-secondary: #f472b6;
}

/* Smooth transitions for theme switching */
* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

/* Input background color fix for dark mode */
.dark input {
  background-color: transparent;
  color: var(--color-secondary);
}

.dark input::placeholder {
  color: var(--color-muted);
}

/* Works in most modern browsers */
::-webkit-scrollbar {
  width: 0.5rem;
  height: var(--space-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-muted);
  border-radius: 0.5rem;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-muted) transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}
