/* Scrollbar hidden but content scrollable */
.scrollbar-hidden {
  overflow: auto;             /* enables scrolling */
  -ms-overflow-style: none;   /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;   /* Chrome, Safari, Opera */
}
